// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon{
  font-size: 24px;
}
.catMeta {
  clear: both;
  p {
    float:left;
    margin-right: 15px;
    margin-left: 15px;
  }
}