// Place all the styles related to the import_cat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  background: #000000;
  color: #ffffff;
}
strong{
  color: #ffffff;
}


a {
  color: #EEEEFF;
  &:visited {
    color: #DDFFFF;
  }
  &:hover {
    color: #DDFFFF;
    background-color: #000;
  }
}


