<%= form_for(@cat) do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
    <div class="field">
      <%= f.label :source_url %><br>
      <%= f.text_field :source_url %>
    </div>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  <div class="field">
    <%= f.label :by %><br>
    <%= f.text_field :by %>
  </div>
    <div class="field">
      <%= f.label :by_url %><br>
      <%= f.text_field :by_url %>
    </div>
  <div class="field">
    <%= f.label :license %><br>
    <%= f.text_field :license %>
  </div>
  <div class="field">
    <%= f.label :license_image %><br>
    <%= f.text_field :license_image %>
  </div>


    <div class="field">
      <%= f.label :is_active %><br>
      <%= f.text_field :is_active %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
