<p id="notice"><%= notice %></p>

<h1>Listing Cats</h1>

<table border="1px">
  <thead>
    <tr>
      <th>Url</th>
      <th>By</th>
      <th>License</th>
      <th>License image</th>
      <th>Shown?</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><a href="<%=url_for cat  %>"> <img width="300px" style="width: 300px" src="<%= cat.url %>" /></a></td>
        <td><%= cat.by %></td>
        <td><%= cat.license %></td>
        <td><%= cat.license_image %></td>
        <td><%= cat.is_active %></td>
        <td><%= link_to 'Hide', hide_cat_path(cat) %></td>
        <td><%= link_to 'unHide', unhide_cat_path(cat) %></td>
        <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
        <td><%= link_to 'Destroy', cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @cats %>
    <%= link_to 'New Cat', new_cat_path %>

