<p id="notice"><%= notice %></p>
<div class="catdiv" >

  <p class="catimg  clear">

    <img style="max-width: 100%; max-height: 100%" src="<%= @cat.url %>"/>

  </p>

  <div class="catMeta">
    <p><span class="icon icon-info"></span></p>
    <p class="catSource">
      <span class="icon icon-image"></span>

      <strong>Source:</strong>
      <a href="<%= @cat.source_url %>"> <%= @cat.name.empty? ? @cat.source_url : @cat.name %></a>
      <span class="icon icon-flickr3"></span>
    </p>


    <p class="catBy">
      <strong>
        <span class="icon icon-quill"></span>By:
      </strong>
      <a href="<%= @cat.by_url %>"> <%= @cat.by %></a>
    </p>

    <p class="catLicense">
      <strong>
        <span class="icon icon-shield"></span></strong>
      License:
      <a href="<%= @cat.license_image %>"><%= @cat.license %></a>
    </p>
    <p><span class="icon icon-link"></span> <a href="<%= url_for @cat %>">Link</a></p>

    <p><span class="icon icon-cancel-circle"></span> <a href="<%= hide_cat_path  @cat %>">Hide</a></p>
    <p><span class="icon icon-checkmark"></span> <a href="<%= unhide_cat_path  @cat %>">Show</a></p>
  </div>

</div>
<div class="clearfix"></div>


<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
